/* TAGS NATIVAS*/
section {
    margin-top: 70px;

}

body{
    font-family: 'Spartan', sans-serif;
}

/* HEADER*/
.header{
    height: 70px;
}

.navbar {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.menu li {
    margin-right: 0px;
    padding: 10px;
}

.menu li a {
    display: block;
    padding: 0px;
    text-decoration: none;
    color: grey;
}

/* CONTAINER */
.container {
    border-width: 0px;
    border-style: solid;
    border-color: red;
    width: 1160px;
}

.space {
    margin-bottom: 20px;
}


/* TEXT */
.title-bold {
    font-size: 56px;
    font-weight: bold;
    color: #183B56;
}

.title {
    font-size: 36px;
    color: #183B56;
}


.title-simple {
    font-weight: 500;
}

.subtitle {
    font-size: 20px;
    color: gray;
}

/* IMAGES*/

.img-title {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


/* BUTTONS */

/* Botões da play store e Google Play */
.btn.flex-container {
    display: flex;
    align-items: center;
    background-color: #183B56;
    border-color: #183B56;
    border-radius: 5px;
    height: 65px;
    margin-top: 50px;
}

.btn-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-width: 0px;
}

.btn-icon {
    font-size: 36px;
}

.btn-text-firstline {
    margin-left: 15px;
    font-size: 14px;
}

.btn-text-secondline {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
}

.btn-position {
    display: flex;
    direction: row;
}

.btn-space {
    margin-left: 16px;
}